:root {
  --color-bg: #17181f;
  --color-text: #797a81;
  --color-border: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
}
